html{
	font-size: 10px;
}
body{
	font-family: 'Open Sans', sans-serif;
}
.main{
	text-align: center;
	background: #000 url(../img/main-bg.jpg) center center no-repeat;
	color: #fff;
	height: 100vh;
	display:table;
	width: 100%;
	position: relative;

}
.main h1{
	font-size: 4.8rem;
	margin-bottom:1.4rem;
	font-weight: 300;
	text-transform: uppercase;
}
.main-header{
	position:relative;
	z-index: 2;
}
.wrapper{
	display:table-cell;
	vertical-align:middle;
}
.main p{
	font-size:3rem;
	font-weight:300;
}
.main-line{
	width:250px;
	margin:0 auto;
	height:1px;
	background-color:#fff;
	 
}

.main-overlay{
	z-index: 1;
	position:absolute;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,.5);
}
.main-down{
	position:absolute;
	bottom:2rem;
	color:#fff;
	z-index:4;
	display:inline-block;
	font-size:2rem;
	width:50px;
	left:50%;
	margin-left: -25px;
	height:50px;
	border-radius: 50%;
	border: 1px solid transparent;
	line-height: 50px;
	transition: 0.2s;
}
.main-down:hover{
	color:#fff;
	border-color: #fff;
	background-color:rgba(237, 238, 240,0.5);
}

/*portfolio */
.portfolio{
	padding: 10rem 0px;
	text-align:center;
}
.portfolio img{
	width: 100%;
	max-width: 360px;
	box-shadow: 0px 4px 29px 0px rgba(87,92,97,0.54);
	transition:0.5s;
}
.portfolio img:hover{
	box-shadow: 3px 8px 29px 1px rgba(97,102,117,0.84);
}
.section-header{
	text-align:center;
	text-transform:uppercase;
	font-size:3.6rem;
	font-weight:800;
	margin-bottom:4rem;
	

}
a:active,a:visited,a:focus{
	outline: none;
	text-decoration:none;
}
.portfolio a{
	display:block;
	margin: 3rem auto 5.1rem ;
	color:#333;
	width:17rem;
	border-bottom: 1px solid transparent;
}
.portfolio a:hover{
text-decoration:none;
border-bottom:1px dotted #333;

}
/*FOOTER */
.footer{
	background-color:#646464;
	color:#fff;
	text-align:center;
	padding:3rem 0;
}
.footer strong{
	font-weight:300;
	font-size:2.4rem;
}
.social-links{
	margin-top: 1rem;
}
.social-links a{
	width:50px;
	height:50px;
	line-height:50px;
	display: inline-block;
	color:#fff;
	border:1px solid #fff;
	border-radius:50%;
	margin-left:1rem;
	margin-right: 1rem;
	font-size: 2rem;
	transition:.4s;
}
.icon-vk{
	margin-left:-4px;

}
.social-links a:hover{
	background-color: #fff;
	color:#646464;
}
.offer-btn{
display:block;
width:80%;
max-width:200px;
margin:1rem auto;
border:1px solid #fff;
padding-top: 1rem;
padding-bottom: 1rem;
color:#fff;
border-radius:100px;
transition:0.4s;
}

.offer-btn:hover{
text-decoration:none;
background-color:#fff;
color:#646464;
}
.modal img{
	width:100%;
}
.modal-title{
	font-weight:800;
	font-size: 2rem;
}
.modal-btn{
	display:inline-block;
	color:#333;
	border: 1px solid #333;
	padding: 10px 20px;
	border-radius:5px;
    transition:0.4s;
}
.modal-btn:hover{
	display:inline-block;
	background-color:#333;
	color:#fff;
	text-decoration: none;
	

}
.close{
	background-color: transparent;
	border:none;
	font-size:2.5rem;
	position:absolute;
	right: 2rem;
	top:1rem;
}

@media (min-width:0px) and (max-width:767px) {
html{
	font-size:7px;
}
.footer strong{
	margin:3rem 0 1.6rem;
	display:inline-block;
	
}
	.social-links a{
		font-size:1.8rem;
	}
}
@media (min-width:768px) and (max-width:991px) {
.footer strong{
	margin:3rem 0 1.6rem;
	display:inline-block;
	
}
}